* {
    box-sizing: border-box;
}
html {
	width: 100%;
	height: 100%;
}
body {
    width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;
}


.logo {
    width: 100%;
    height: 100%;

    background-image: url("logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    z-index: -3;
}
.container{
    width: 100%;
    height: 100%;

    background-image: url("bg_index.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: fixed;

    z-index: -1;
}

.tekst {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    text-align: center;
    border: 3px solid #f1f1f1;

    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    padding: 20px;

    transform: translate(-50%, -50%);
    z-index: 2;
}

.onas {
    width: 25%;
	height: 25%;
	margin: 2%;
    position: relative;
    order: 2;
	flex-grow: 2;
}
.kadra {
    width: 25%;
	height: 25%;
	margin: 2%;
    position: relative;
	order: 2;
    flex-grow: 1;
}
.aktualnosci {
    width: 25%;
	height: 25%;
	margin: 2%;
    position: relative;
	order: 3;
    flex-grow: 4;
}
.taiyo {
    width: 25%;
	height: 25%;
	margin: 2%;
    position: relative;
	order: 4;
    flex-grow: 1;
}
.taian {
    width: 25%;
	height: 25%;
	margin: 2%;
    position: relative;
	order: 5;
    flex-grow: 1;
}
.hono {
    width: 25%;
	height: 25%;
	margin: 2%;
    position: relative;
    order: 6;
	flex-grow: 1;
}
.facebook1{
    width: 50%;
	height: 25%;
	margin: 2%;
    position: relative;
    flex-grow: 1;
}
.instagram{
    width: 50%;
	height: 25%;
	margin: 2%;
    position: relative;
    flex-grow: 1;
}
.materialy {
    width: 25%;
	height: 25%;
	margin: 2%;
    position: relative;
    order: 7;
    flex-grow: 1;
}
.facebook2{
    width: 50%;
	height: 25%;
	margin: 2%;
    position: relative;
	order: 11;
    flex-grow: 1;
}

.facebook3{
    width: 50%;
	height: 25%;
	margin: 2%;
    position: relative;

    flex-grow: 1;
}

.onas_tlo {
    width: 100%;
	height: 100%;
	position: absolute;
	
	background-image: url("onas.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    opacity: 0.8;
    transition: 0.5s;
	filter: blur(2px);
    -webkit-filter: blur(2px);
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;

}
.kadra_tlo {
    width: 100%;
	height: 100%;
	position: absolute;
	
	background-image: url("kadra.jpg");
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center;

    opacity: 0.8;
    transition: 0.5s;
	filter: blur(2px);
    -webkit-filter: blur(2px);
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
}
.aktualnosci_tlo {
	width: 100%;
	height: 100%;
    position: absolute;

	background-image: url("akt.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    opacity: 0.8;
    transition: 0.5s;
	filter: blur(2px);
    -webkit-filter: blur(2px);
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
}
.taiyo_tlo {
	width: 100%;
	height: 100%;
    position: absolute;

	background-image: url("galeria.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    opacity: 0.8;
    transition: 0.5s;
	filter: blur(2px);
    -webkit-filter: blur(2px);
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
}
.taian_tlo {
	width: 100%;
	height: 100%;
    position: absolute;

	background-image: url("taian.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    opacity: 0.8;
    transition: 0.5s;
	filter: blur(2px);
    -webkit-filter: blur(2px);
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
}
.hono_tlo {
	width: 100%;
	height: 100%;
    position: absolute;

	background-image: url("hono.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    opacity: 0.8;
    transition: 0.5s;
	filter: blur(2px);
    -webkit-filter: blur(2px);
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
}
.materialy_tlo {
	width: 100%;
	height: 100%;
    position: absolute;

	background-image: url("mat.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    opacity: 0.8;
    transition: 0.5s;
	filter: blur(2px);
    -webkit-filter: blur(2px);
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
}
.facebook_tlo {
    width: 100%;
	height: 100%;
    position: absolute;

	background-image: url("fb.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    opacity: 0.8;
    transition: 0.5s;
	filter: blur(2px);
    -webkit-filter: blur(2px);
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
}
.instagram_tlo {
    width: 100%;
	height: 100%;
    position: absolute;

	background-image: url("ig.webp");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    opacity: 0.8;
    transition: 0.5s;
	filter: blur(2px);
    -webkit-filter: blur(2px);
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
}

.onas:hover > .onas_tlo {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    transition: 0.5s;
    opacity: 1;
}
.kadra:hover > .kadra_tlo {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    transition: 0.5s;
    opacity: 1;
}
.aktualnosci:hover > .aktualnosci_tlo {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    transition: 0.5s;
    opacity: 1;
}
.taiyo:hover > .taiyo_tlo {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    transition: 0.5s;
    opacity: 1;
}
.taian:hover > .taian_tlo {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    transition: 0.5s;
    opacity: 1;
}
.hono:hover > .hono_tlo {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    transition: 0.5s;
    opacity: 1;
}
.facebook1:hover > .facebook_tlo {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    transition: 0.5s;
    opacity: 1;
}
.instagram:hover > .instagram_tlo {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    transition: 0.5s;
    opacity: 1;
}
.materialy:hover > .materialy_tlo {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    transition: 0.5s;
    opacity: 1;
}
.facebook2:hover > .facebook_tlo {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    transition: 0.5s;
    opacity: 1;
}
.facebook3:hover > .facebook_tlo {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    transition: 0.5s;
    opacity: 1;
}

.flexible {
    width: 100%;
	height: 200%;

    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.box {
    width: 400px;
    height: auto;
    float: left;
    order:8;
}

@media screen and (max-width: 481px){

    .logo {
        background-size: 130vh;
    }

    .tekst {
        position: absolute;
        top: 50%;
        font-size: 0.2em;
    }

    .onas{
        height: 240px;
    }
    .onas_tlo {
        height: 150px;
        height: 150px;
    }
    
    .kadra{
        height: 240px;
    }
    .kadra_tlo {
        height: 150px;
    }

    .aktualnosci{
        height: 240px;
    }
    .aktualnosci_tlo {
        height: 150px;
        height: 150px;
    }

    .taiyo{
        height: 240px;
    }
    .taiyo_tlo {
        height: 150px;
        height: 150px;
    }

    .taian{
        height: 240px;
    }
    .taian_tlo {
        height: 150px;
        height: 150px;
    }

    .hono{
        height: 240px;
    }
    .hono_tlo {
        height: 150px;
        height: 150px;
    }

    .facebook1{
        height: 240px;
    }
    .facebook1_tlo {
        height: 150px;
        height: 150px;
    }

    .instagram{
        height: 240px;
    }
    .instagram_tlo {
        height: 240px;
        height: 240px;
    }

    .facebook2{
        height: 240px;
    }
    .facebook2_tlo {
        height: 150px;
        height: 150px;
    }

    .facebook3{
        height: 240px;
    }
    .facebook3_tlo {
        height: 150px;
        height: 150px;
    }

    .wedrownictwo, .materialy {
        display: none;
    }
}

